# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Levels
######################
Mods/PartySizeEvolved_01888044-40fa-4250-8934-add840ac23b7/Levels/*
Mods/PartySizeEvolved_01888044-40fa-4250-8934-add840ac23b7/Globals/*
Editor/Mods/PartySizeEvolved_01888044-40fa-4250-8934-add840ac23b7/Levels/*

# Story files        #
######################
*.div
*.raw
Mods/PartySizeEvolved_01888044-40fa-4250-8934-add840ac23b7/Story/Dialogs/AutoSave/*
Mods/PartySizeEvolved_01888044-40fa-4250-8934-add840ac23b7/Story/Dialogs/Recovered/*

# Asset Folders      #
######################
Public/PartySizeEvolved_01888044-40fa-4250-8934-add840ac23b7/Assets/*
#Public/PartySizeEvolved_01888044-40fa-4250-8934-add840ac23b7/GUI/*

# Editor files       #
######################
RootTemplateSelectorConfig_*
ResourceSelectorConfig_*
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata_*
EditorBrowserMetadata.xml
Autosave/*
Recovered/*

# Assets             #
######################
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
*.png
*.ttf
*.lsb
*.lsf
*.lsfx
*.lsefx
#*.lsx
*.lsmg

# Logs               #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.osi
*.patch
*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk
Mods/PartySizeEvolved_01888044-40fa-4250-8934-add840ac23b7/Story/story.debugInfo
